body{
    background-color: black;
    color: white !important
}

hr{
    border-color: white;
}

.puntero{
    cursor: pointer;
}

.img-circle{
    border-radius: 100%;
    width: 150%;
}

.card-title,
.card-text {
    color: black;
}

.badge{
    margin-left: 5px;
}

.img-thumb{
    width: 80px;
    height: 80px;
}